body {
    margin: 0;
    overflow: hidden;

    background: #ffffff; /* Old browsers */
    // background: #a0ffe2; /* Old browsers */
    // background: -moz-linear-gradient(top,  #a0ffe2 0%, #e2f7ff 100%); /* FF3.6+ */
    // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0ffe2), color-stop(100%,#e2f7ff)); /* Chrome,Safari4+ */
    // background: -webkit-linear-gradient(top,  #a0ffe2 0%,#e2f7ff 100%); /* Chrome10+,Safari5.1+ */
    // background: -o-linear-gradient(top,  #a0ffe2 0%,#e2f7ff 100%); /* Opera 11.10+ */
    // background: -ms-linear-gradient(top,  #a0ffe2 0%,#e2f7ff 100%); /* IE10+ */
    // background: linear-gradient(to bottom,  #a0ffe2 0%,#e2f7ff 100%); /* W3C */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0ffe2', endColorstr='#e2f7ff',GradientType=0 ); /* IE6-9 */
}

canvas {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#introscreen {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;

    div {
        position: relative;
        margin: 0 auto;

        h1 {

        }
    }
}

#credits {
    display: none;
}
